/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";

html, body{
    margin: 0px;
    font-family: 'Indie Flower', cursive;
    color: white;
    background: #303030;
}

.mat-toolbar,.mat-raised-button{
    font-family: 'Indie Flower', cursive;
}

.main-container{
    padding: 1%;
}

.card-text{
    color: #303030;
    font-size: x-small;
}

.card-title{
    color: #303030;
}

.card-deck .card{
    margin-bottom: 15px;
}

