<h1>HÉROES</h1>
<hr>

<div class="row">
  <div class="col-md-12 text-md-right">
    <button type="button"
            [routerLink] = "['/heroe','nuevo']"
            class="btn btn-outline-primary"
            name="button">
      Nuevo Héroe
    </button>
  </div>
</div>

<br>

<div class="row animated fadeIn fast">
  <div class="col-md-12">
    <div class="table-responsive">
      <table class="table">
        <thead class="thead-default">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Casa</th>
            <th scope="col" class="text-md-right">Opciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let k of heroes|keys; let i = index">
            <td>{{i+1}}</td>
            <td>{{heroes[k].nombre}}</td>
            <td>{{heroes[k].casa}}</td>
            <td class="text-md-right w120">
              <button [routerLink]="['/heroe',k]" type="button" class="btn btn-outline-success">
                Ver
              </button>
              <button (click)="eliminarHeroe(k)" type="button" class="btn btn-outline-danger">
                Eliminar
              </button>
            </td>
          </tr>
        </tbody>
      </table>


    </div>
  </div>
</div>
