<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Peliculas App</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam error harum enim sunt ea nemo, perspiciatis fugiat sint minus consectetur accusantium ratione velit, repellendus rerum magni dicta quas quae molestiae.</p>
  </div>
</div>


<!-- Stack the columns on mobile by making one full-width and the other half-width -->
<!-- <div class="row">
  <div class="col-12 col-md-8">.col-12 .col-md-8</div>
  <div class="col-6 col-md-4">.col-6 .col-md-4</div>
</div> -->

<!-- Columns start at 50% wide on mobile and bump up to 33.3% wide on desktop -->
<!-- <div class="row">
  <div class="col-6 col-md-4">.col-6 .col-md-4</div>
  <div class="col-6 col-md-4">.col-6 .col-md-4</div>
  <div class="col-6 col-md-4">.col-6 .col-md-4</div>
</div> -->

<!-- Columns are always 50% wide, on mobile and desktop -->
<!-- <div class="row">
  <div class="col-6">.col-6</div>
  <div class="col-6">.col-6</div>
</div> -->


<div class="container">
  <app-galeria [peliculas] =  "teatros|slice:0:6" titulo= "Peliculas en cartelera"></app-galeria>
  <app-galeria [peliculas] =  "populares|slice:0:6" titulo= "Peliculas populares"></app-galeria>
  <app-galeria [peliculas] =  "popularesKids|slice:0:6" titulo= "Peliculas populares en los niños"></app-galeria>
</div>
