<h4>Formularios <small>data</small></h4>
<hr>
<form [formGroup]="forma" (ngSubmit) = "guardarCambios()">

  <div formGroupName = "nombrecompleto">

    <div class="form-group row">
      <label class="col-2 col-form-label">Nombre</label>
      <div class="col-8">

        <input class="form-control"
               type="text"
              [ngClass]="{'is-invalid':forma.controls['nombrecompleto'].controls['nombre'].errors!=null && forma.controls['nombrecompleto'].controls['nombre'].touched, 'is-valid':forma.controls['nombrecompleto'].controls['nombre'].errors==null && forma.controls['nombrecompleto'].controls['nombre'].touched}"
               formControlName="nombre"
               placeholder="Nombre">
        <div class="form-control-feedback" *ngIf="forma.get('nombrecompleto.nombre').errors?.required">
          El nombre es obligatorio
        </div>
        <div class="form-control-feedback" *ngIf="forma.get('nombrecompleto.nombre').errors?.minlength">
          Por lo menos 3 caracteres
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Apellido</label>
      <div class="col-8">

        <input class="form-control"
               type="text"
               formControlName="apellido"
               placeholder="Apellido">
      </div>
    </div>

  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Correo</label>
    <div class="col-md-8">

      <input class="form-control"
             type="email"
             formControlName="correo"
             placeholder="Correo electrónico">
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Password</label>
    <div class="col-md-8">

      <input class="form-control"
             type="password"
             formControlName="password1"
             placeholder="Password">
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Confirmar Password</label>
    <div class="col-md-8">

      <input class="form-control"
             type="password"
             formControlName="password2"
             placeholder="Password">
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Pasatiempos</label>
    <div class="col-md-8" formArrayName="pasatiempos">
      <input  *ngFor="let p of forma.controls['pasatiempos'].controls; let i = index"
              [formControlName]="i"
              type="text"
              class="form-control">
    </div>
    <button type="button" class="btn btn-primary" (click) ="agregarPasatiempo()">
      Nuevo
    </button>
  </div>


  <div class="form-group row">
    <label class="col-2 col-form-label">&nbsp;</label>
    <div class="input-group col-md-8">
      <button type="submit" class="btn btn-outline-primary">
        Guardar
      </button>
    </div>
  </div>

  {{forma.valid}}

</form>
